body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background: transparent;
}

pre {
    padding: 0;
    margin: 0;
}

ul {
    list-style: outside;
    padding-left: 20px;
    margin: 0;
}

.theme-light {
    --text-color: #252525;
    --text-hover: black;
    --main-color: white;
    --snippet-color: #d9d9d9;
    --sidebar-color: #f2f2f2;
    --navbar-color: #e6e6e6;
    --tab-color: #2196F3;
    --scroll-hover: #d9d9d9;    
}

.theme-dark {
    --text-color: lightgrey;
    --text-hover: white;
    --main-color: #2a2a2a;
    --snippet-color: #333333;
    --sidebar-color: #353535;
    --navbar-color: #3f3f3f;
    --tab-color: #1d1d1d;
    --scroll-hover: #535353;
}

.switch {
    position: relative;
    display: inline-block;
    width: 6vh;
    height: 3vh;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 2.6vh;
    width: 2.6vh;
    bottom: 0.2vh;
    left: 0.2vh;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(3vh);
    -ms-transform: translateX(3vh);
    transform: translateX(3vh);
}
  
.slider.round {
    border-radius: 3vh;
}
  
.slider.round:before {
    border-radius: 50%;
}

.theme-label {
    font-size: 2.5vh;
    margin-left: 1vh;
}

.theme-label:hover {
    color: var(--text-hover);
    cursor: pointer;
}

.parent {
    list-style: none;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% 65% 20%;
    grid-template-rows: 7vh 67vh 26vh;
    grid-template-areas: 
        "header header header"
        "sidebar main snippet"
        "sidebar tab tab";
}

.navbar {
    grid-area: header;
    background-color: var(--navbar-color);
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: var(--tab-color) 2px solid;
}

.navbar-item {
    padding: 0 10px;
    text-decoration: none;
    font-size: 2.5vh;
}

.navbar-item:hover {
    color: var(--text-hover);
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--sidebar-color);
    padding: 10px;
    overflow: auto;
}

.main {
    grid-area: main;
    background-color: var(--main-color);
    padding: 10px;
    overflow: auto;
    border-left: var(--tab-color) 2px solid;
}

.snippet {
    grid-area: snippet;
    padding: 10px;
    background-color: var(--snippet-color);
    overflow: auto;
    border-left: var(--tab-color) 2px solid;
}

.tab {
    grid-area: tab;
    background-color: var(--tab-color);
}

.tabbar {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 2px;
    gap: 2px;
    height: 15%;
}

.tabbar-item {
    padding: 0 10px;
    height: 100%;
    width: 7%;
    text-decoration: none;
    font-size: 2.5vh;
    background-color: var(--navbar-color);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.tabbar-item:hover {
    background-color: var(--snippet-color);
}

.tab-content {
    height: 85%;
    background-color: var(--snippet-color);
    overflow: auto;
    border-left: var(--tab-color) 2px solid;
}

.tab-area {
    padding: 10px;
}

::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    background: var(--main-color); 
}

::-webkit-scrollbar-thumb {
    background: var(--navbar-color); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover); 
}

::-webkit-scrollbar-corner {
    background: transparent;
}
